[Unit]
Description=xtom-network-switch daemon
After=network.target

[Service]
WorkingDirectory=/opt/xtom-network-switch/
ExecStart=/opt/xtom-network-switch/network-switch 

[Install]
WantedBy=multi-user.target
